#include <gtest/gtest.h>
#include <nlohmann/json.hpp>
#include "../include/bits/stdc++.h"

using namespace std;
using json = nlohmann::json;

inline vector<json> loadTestCases(const string &filename)
{
    ifstream f(filename);
    string content((istreambuf_iterator<char>(f)), istreambuf_iterator<char>());
    f.close();
    return json::parse(content).get<vector<json>>();
}

template <int PROBLEM_ID>
inline void loadTestCases(vector<json> &inputs, vector<json> &outputs)
{
    ostringstream ss_in;
    ss_in << "data/" << PROBLEM_ID << ".in";
    inputs = loadTestCases(ss_in.str());

    ostringstream ss_out;
    ss_out << "data/" << PROBLEM_ID << ".out";
    outputs = loadTestCases(ss_out.str());
}


template <typename T>
inline T convertJson(const json &param, const char *name)
{
    return param[name].get<T>();
}

template <>
inline vector<vector<char>> convertJson<vector<vector<char>>>(const json &param, const char *name)
{
    vector<vector<string>> matrix = param[name].get<vector<vector<string>>>();
    if(matrix.empty())
        return {};
    vector<vector<char>> result(matrix.size(), vector<char>(matrix.front().size()));
    for(int i = 0; i < matrix.size(); i++)
        for(int j = 0; j < matrix[i].size(); j++)
            result[i][j] = matrix[i][j].front();
    return result;
}

template <>
inline vector<char> convertJson<vector<char>>(const json &param, const char *name)
{
    vector<string> chars = param[name].get<vector<string>>();
    vector<char> result(chars.size());
    for (int i = 0; i < chars.size(); i++)
        result[i] = chars[i].front();
    return result;
}

{% for problem_id, _ in args.items() %}
namespace Problem{{ problem_id }}
{
#include "../src/{{ problem_id }}.cpp"
}
{% endfor %}

{% for problem_id, function in args.items() %}
TEST(LeetCode, Test{{ problem_id }})
{
    vector<json> inputs, expects;
    loadTestCases<{{ problem_id }}>(inputs, expects);
    EXPECT_EQ(inputs.size(), expects.size());
    for (int i = 0; i < inputs.size(); i++)
    {
        {% set param_names = [] -%}
        {% for arg in function.arguments -%}
        {% set param_name = arg.name -%}
        {% set param_type = arg.decl_type.partial_decl_string.replace('&', '') -%}
        {{ param_names.append(param_name) | default("", True) -}}
        {{ param_type }} {{ param_name}} = convertJson<{{ param_type }}>(inputs[i], "{{ param_name }}");
        {% endfor -%}
        {% set return_type = function.return_type.partial_decl_string -%}

        {%- if return_type != "void" -%}
        {{ return_type }} output = Problem{{ problem_id }}::Solution().{{ function.name }}({{ ', '.join(param_names) }});
        {%- else -%}
        Problem{{ problem_id }}::Solution().{{ function.name }}({{ ', '.join(param_names) }});
        const auto &output = {{ param_names[0] }};
        {%- endif -%}

        {% if problem_id in unordered -%}
        stable_sort(output.begin(), output.end());
        stable_sort(expects[i].begin(), expects[i].end());
        {%- endif %}

        EXPECT_EQ(output, expects[i]);
    }
}
{% endfor %}
